.menu-footer {
  @media (min-width: 768px) {
    display: none;
  }

  @media (min-width: 1440px) {
    display: block;
  }

  &__icon {
    display: flex;
    justify-content: flex-start;
    column-gap: 16px;
    align-items: center;
    margin-bottom: 16px;
  }

  &__mail {
    display: block;
    line-height: 1.5;
    margin-bottom: 12px;
  }

  &__tel {
    display: block;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 8px;
  }
}

.style-link {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: #7e7e82;
  }
}

.lang {
  text-transform: uppercase;
  margin-bottom: 7px;
  line-height: 1.5;

  &--active {
    color: #7e7e82;
  }
}
