.menu {
  // position: fixed;
  display: none;
  box-shadow: -2px 0 4px 0 rgba(69, 79, 126, 0.02);
  box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2);



  @media (min-width: 1440px) {
    display: block;
  }

  &__container {
    min-width: 320px;
    padding: 18px 24px 32px;

    @media (min-width: 1440px) {
      min-width: 306px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    &--left {
      display: flex;
      align-items: center;
    }
  }

  &__close-menu {
    margin-right: 17px;
    background-image: url('../img/icon/icon-close.svg');

    @media (min-width: 1440px) {
      display: none;
    }


  }

  &__list {
    list-style: none;
    margin-bottom: 30px;
  }

  &__link {
    position: relative;
    text-decoration: none;
    color: #1b1c21;
    display: block;
    padding: 10px 0;
    line-height: 24px;

    &::before {
      content: none;
      position: absolute;
      height: 40px;
      width: 4px;
      background-color: #41f6d7;
      top: 0;
      left: -24px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &:hover::before {
      content: '';
    }

    &:hover {
      color: #7e7e82;
    }
  }
}
