.content-menu {
  display: flex;
  padding: 0 16px;
  list-style: none;

  overflow: scroll;
  margin-bottom: 24px;

  @media (min-width: 768px) {
    padding: 0;
  }

  @media (min-width: 1440px) {
    flex-wrap: wrap;
    overflow: auto;
  }

  &__item {
    height: 40px;
    border: 2px solid #f8f8f8;
    background-color: #f8f8f8;
    transition:
      background-color 0.5s,
      border 0.5s;

    &:hover {
      background-color: white;
      border: 2px solid #b8ffec;
      border-radius: 6px;
    }
  }

  &__link {
    display: block;
    padding: 0 15px;
    text-decoration: none;
    color: #7e7e82;
    font-weight: 500;
    font-size: 16px;
    line-height: 35px;
    white-space: nowrap;
  }
}


