.footer {
  padding: 0 16px;

  @media (min-width: 768px) {
    padding: 0;
  }

  &__description {
    padding-right: 10px;
    margin-bottom: 25px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #1b1c21;

    @media (min-width: 768px) {
      width: 425px;
      margin-bottom: 16px;
    }
  }

  &__offer {
    position: relative;
    margin-bottom: 30px;
    padding-right: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #1b1c21;

    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 98px;
      width: 24px;
      height: 24px;
      background-image: url('../img/icon/icon-offer.svg');
      background-repeat: no-repeat;
      background-position: center;

      @media (min-width: 768px) {
        left: 280px;
      }
    }
  }

  &__copyright {
    width: calc(100% + 32px);
    transform: translateX(-16px);
    padding-top: 16px;

    border-top: 1px solid #d9fff5;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14286;
    text-align: center;
    color: #7e7e82;

    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      width: calc(100% + 48px);
      transform: translateX(-24px);
      padding: 32px 24px 25px;

      text-align: left;
    }

    & p {
      margin-bottom: 16px;

      &:last-child {
        @media (min-width: 1440px) {
          width: 330px;
        }

      }

      @media (min-width: 768px) {
        width: 214px;
        margin-bottom: 0;

        &:last-child {
          text-align: right;
        }
      }
    }
  }
}
