.im111111111111111111111111111111g {
  object-fit: none;
}

.swiper {
  padding-left: 16px;
  position: relative;
  height: 138px;
}

.swiper::after {
  content: "";
  width: 24px;
  height: 81px;
  position: absolute;
  right: 0;
  top: -9px;
  background-image: linear-gradient(to right, #f8f8f800 0%, #f8f8f8 75%);
  z-index: 10;
}

.swiper-slide {
  height: 72px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  padding: 0 16px;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:root {
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-color: #b5b6bc;
  --swiper-pagination-bullet-inactive-color: #dddddd;
  --swiper-pagination-bottom: 30px;
}

/* --------------- swiper tablet+ ------------- */
@media (min-width: 768px) {
  .swiper {
      height: auto;
  }
}

@media (min-width: 768px) {
  .swiper-wrapper--height {
      height: 160px;
  }
}

@media (min-width: 768px) {
  .swiper-wrapper {
      display: flex;
      overflow: hidden;
      flex-wrap: nowrap;
      row-gap: 16px;
      margin-bottom: 24px;
      gap: 16px 24px;
      flex-wrap: wrap;
  }
}

@media (min-width: 1120px) {
  .swiper-wrapper {
      gap: 16px 32px;
  }
}

@media (min-width: 768px) {
  .swiper-slide {
      width: 224px;
      padding: 16px;
  }
}

@media (min-width: 1120px) {
  .swiper-slide {
      width: 240px;
  }
}
/* --------------- //swiper tablet+ ------------- */