.mobile {
  @media (min-width: 768px) {
    display: none;
  }

  @media (min-width: 1120px) {
    display: none;
  }
}

.tablet {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }

  @media (min-width: 1120px) {
    display: none;
  }
}
