// * {
//   box-sizing: border-box;
// }

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  // box-sizing: inherit;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
menu,
figure {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
}

body {
  // height: 7000px;
  // height: auto;
  font-family: 'TT Lakes', sans-serif;
  color: #1b1c21;
  font-weight: 500;
  font-size: 16px;
  // padding-bottom: 150px;
}

.container {

  // background-color: hsl(0, 96%, 52%);
  // margin-top: auto;
}

.main {
  display: flex;
  justify-content: space-between;
}

.hide {
  display: none;
}