html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
menu,
figure {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

body {
  font-family: 'TT Lakes', sans-serif;
  color: #1b1c21;
  font-weight: 500;
  font-size: 16px;
}

.hide {
  display: none;
}

.grey {
  filter: grayscale(90%);
  opacity: 0.2;
  pointer-events: none;
  height: 100vh;
  overflow: hidden;
}