.icon {
  display: block;
  width: 40px;
  height: 40px;
  background-color: $color-red;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-position: center;
  transition: opacity 0.7s ease-in-out;

  &:hover {
    opacity: 0.6;
  }

  &__swiper {
    height: 40px;
    width: 40px;
    background-image: url('../img/icon/swiper/swiper-go.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  &__logo {
    display: block;
    width: 97px;
    height: 51px;
    background-image: url('../img/icon/logo.svg');
    background-size: cover;
    transition: opacity 0.7s ease-in-out;

    &:hover {
      opacity: 0.6;
    }
  }

  &__search {
    background-image: url('../img/icon/icon-search.svg');
  }

  &__menu {
    background-image: url('../img/icon/icon-menu.svg');
  }

  &__application {
    background-image: url('../img/icon/icon-application.svg');
  }

  &__status {
    background-image: url('../img/icon/icon-status.svg');
  }

  &__tel {
    background-image: url('../img/icon/icon-tel.svg');
  }
  &__message {
    background-image: url('../img/icon/icon-message.svg');
  }
  &__contacts {
    background-image: url('../img/icon/icon-contacts.svg');
  }

  &__swiper__line-2 {
    align-self: flex-end;
  }

  &__close {
    background-image: url('../img/icon/icon-close.svg');
  }
}
